// TODO: finish blogs page styling

section.intro {
    padding: 85px 0px;
    background: #202020;
    
    .intro-text {
        margin: 0 auto;
        width: 85%;

        h2 {
            color: #fff;
            font-size: 36px;

            span {
                color: #EE5757;
            }
        }
    }
}