.main-blog-section {

    .blog-container {
        margin: 50px auto;
        width: 85%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 25px;

        div[class$="main"] {

            .blog-img {
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .blog-text {
                margin: 10px 0px;

                h3 {
                    margin-bottom: 10px;
                    font-size: 22px;
                    color: #EE5757;
                }

                p {
                    line-height: 1.5;
                    color: #333;
                }
            }
        }
    }
}