section.hero {
  background: #202020;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

section.hero .hero-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero .hero-container .hero-text {
  position: relative;
  margin: 100px auto;
  width: 85%;
  padding-left: 4%;
}

section.hero .hero-container .hero-text h1 {
  color: #f0f0f0;
  font-size: 72px;
}

section.hero .hero-container .hero-text h1 span {
  color: #EE5757;
  padding-bottom: 5px;
}

section.hero .hero-container .hero-text p {
  margin: 15px 0px 30px;
  color: #b1b1b1;
  font-size: 16px;
  width: 80%;
  line-height: 1.75;
}

section.hero .hero-container .hero-text .cta {
  margin-top: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.hero .hero-container .hero-text .cta a {
  display: block;
  text-transform: uppercase;
  border: 1px solid #dcdcdc;
  padding: 15px 20px;
  color: #dcdcdc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.hero .hero-container .hero-text .cta a:hover {
  padding: 15px 30px;
  background: #EE5757;
  border-color: #EE5757;
}

section.hero .hero-container .hero-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 0;
  background: #EE5757;
  -webkit-animation: heightIncrease 1.5s ease-in-out 0s forwards;
          animation: heightIncrease 1.5s ease-in-out 0s forwards;
}

@-webkit-keyframes heightIncrease {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes heightIncrease {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

section.hero .hero-container .hero-portfolio {
  position: relative;
  -webkit-transition: 2s;
  transition: 2s;
}

section.hero .hero-container .hero-portfolio .hero-gallery {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.hero .hero-container .hero-portfolio .hero-gallery div[class^="img"] {
  position: relative;
  margin: 0px 5px;
}

section.hero .hero-container .hero-portfolio .hero-gallery div[class^="img"] img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.hero .hero-container .hero-portfolio .hero-gallery div[class^="img"]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333;
  opacity: 0.8;
}

/* section.subscribe {
    margin: 125px auto;
    width: 75%;

    h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    form {

        input {
            font-size: 18px;
            padding: 15px;
            border: 1px solid #202020;
        }

        input[type="text"] {
            outline: 0;
            width: 35%;
        }

        input[type="text"]::placeholder {
            font-style: italic;
        }

        input[type="submit"] {
            margin-left: 10px;
            text-transform: uppercase;
            background: #fff;
            cursor: pointer;
            transition: .4s;
        }

        input[type="submit"]:hover {
            border: 1px solid #EE5757;
            background: #EE5757;
            color: #fff;
        }
    }
} */
/*# sourceMappingURL=index.css.map */