section.hero {
  background: #202020;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

section.hero .hero-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero .hero-container .hero-text {
  position: relative;
  margin: 100px auto;
  width: 85%;
  padding-left: 4%;
}

section.hero .hero-container .hero-text h1 {
  color: #f0f0f0;
  font-size: 72px;
}

section.hero .hero-container .hero-text h1 span {
  color: #EE5757;
  padding-bottom: 5px;
}

section.hero .hero-container .hero-text p {
  margin: 15px 0px 30px;
  color: #dcdcdc;
  font-size: 16px;
  width: 80%;
  line-height: 1.75;
}

section.hero .hero-container .hero-text .cta {
  margin-top: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.hero .hero-container .hero-text .cta a {
  display: block;
  text-transform: uppercase;
  border: 1px solid #dcdcdc;
  padding: 15px 20px;
  color: #dcdcdc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.hero .hero-container .hero-text .cta a:hover {
  padding: 15px 30px;
  background: #EE5757;
  border-color: #EE5757;
}

section.hero .hero-container .hero-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 0;
  background: #EE5757;
  -webkit-animation: heightIncrease 1.5s ease-in-out 0s forwards;
          animation: heightIncrease 1.5s ease-in-out 0s forwards;
}

@-webkit-keyframes heightIncrease {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes heightIncrease {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

section.latest-blogs {
  background: #202020;
  padding-bottom: 50px;
}

section.latest-blogs .blogs-container {
  margin: 0 auto;
  width: 85%;
  background: #232323;
  padding: 50px;
}

section.latest-blogs .blogs-container h2 {
  font-size: 36px;
  color: #fafafa;
}

section.latest-blogs .blogs-container .blogs {
  margin: 25px 0 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}

section.latest-blogs .blogs-container .blogs a.go-to-blog .blog .blog-img {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.latest-blogs .blogs-container .blogs a.go-to-blog .blog .blog-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.latest-blogs .blogs-container .blogs a.go-to-blog .blog h3.blog-title {
  color: #EE5757;
  margin: 15px 0 5px;
  font-size: 20px;
}

section.latest-blogs .blogs-container .blogs a.go-to-blog .blog p.blog-desc {
  color: #dcdcdc;
  line-height: 1.5;
}

section.latest-blogs .blogs-container a.blog-cta {
  display: block;
  text-transform: uppercase;
  border: 1px solid #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  font-size: 16px;
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

section.latest-blogs .blogs-container a.blog-cta:hover {
  background: #EE5757;
  border-color: #EE5757;
  padding: 15px 30px;
}

section.testimonials {
  margin: 100px 0px;
}

section.testimonials .testimonials-container {
  background: #202020;
  margin: 0 auto;
  width: 75%;
  padding: 75px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 25%;
      grid-template-columns: 70% 25%;
  grid-column-gap: 25px;
}

section.testimonials .testimonials-container .testimonials-text blockquote {
  color: #fafafa;
  font-size: 32px;
  font-style: italic;
  line-height: 1.5;
}

section.testimonials .testimonials-container .testimonials-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-left: 40px;
}

section.testimonials .testimonials-container .testimonials-details .testimonials-details-text h3 {
  color: #EE5757;
  font-size: 30px;
}

section.testimonials .testimonials-container .testimonials-details .testimonials-details-text small {
  color: #dcdcdc;
}

section.testimonials .testimonials-container .testimonials-details .testimonials-details-url {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  border-color: #fff;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  -webkit-transition: .4s;
  transition: .4s;
}

section.testimonials .testimonials-container .testimonials-details .testimonials-details-url:hover {
  background: #EE5757;
  border-color: EE5757;
}

section.testimonials .testimonials-container .testimonials-details::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #EE5757;
  height: calc(100% + 5px);
  width: 5px;
}

@media screen and (max-width: 480px) {
  section.hero .hero-container .hero-text {
    margin: 50px auto;
    width: 85%;
    padding-left: 0;
  }
  section.hero .hero-container .hero-text h1 {
    font-size: 50px;
    min-height: 125px;
  }
  section.hero .hero-container .hero-text p {
    margin: 15px 0px 30px;
    color: #dcdcdc;
    font-size: 16px;
    width: 100%;
    line-height: 1.75;
  }
  section.hero .hero-container .hero-text::before {
    display: none;
  }
  section.hero .hero-container .hero-portfolio .hero-gallery {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 50%);
  }
  section.hero .hero-container .hero-portfolio .hero-gallery div[class^="img"] {
    height: 200px;
  }
  section.testimonials {
    margin: 100px 0px;
  }
  section.testimonials .testimonials-container {
    width: 85%;
    padding: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-column-gap: 0;
  }
  section.testimonials .testimonials-container .testimonials-text {
    margin-bottom: 25px;
  }
  section.testimonials .testimonials-container .testimonials-text blockquote {
    font-size: 16px;
  }
  section.testimonials .testimonials-container .testimonials-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.testimonials .testimonials-container .testimonials-details .testimonials-details-text h3 {
    color: #EE5757;
    font-size: 24px;
  }
  section.testimonials .testimonials-container .testimonials-details .testimonials-details-text small {
    color: #dcdcdc;
  }
  section.testimonials .testimonials-container .testimonials-details .testimonials-details-url {
    padding: 15px;
  }
  section.testimonials .testimonials-container .testimonials-details .testimonials-details-url:hover {
    background: #EE5757;
    border-color: EE5757;
  }
  section.testimonials .testimonials-container .testimonials-details::after {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */