main {
  margin: 125px auto;
  width: 80%;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section div[class$="text"] {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  color: #333;
}

main section div[class$="text"] h2 {
  font-size: 46px;
  margin-bottom: 10px;
  color: #EE5757;
}

main section div[class$="text"] p {
  line-height: 1.75;
  font-size: 18px;
  text-align: justify;
  background: #fff;
  padding-right: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main section div[class$="text"] p[class$="notice"] {
  width: 100%;
  color: #c0c0c0;
  font-style: italic;
  font-size: 14px;
  text-align: left;
}

main section div[class$="text"] p[class$="notice"]:last-child {
  margin-top: 1em;
}

main section div[class$="cta-img"] {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-bottom: 30px;
}

main section div[class$="cta-img"] img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section.custom-create .custom-create-text .custom-create-package {
  list-style-type: square;
  padding-left: 40px;
  margin: 1em 0;
}

main section.custom-create .custom-create-text .custom-create-package li {
  font-size: 18px;
  margin-bottom: 10px;
}

main section.live-learning {
  margin: 50px 0;
}

main section.live-learning .live-learning-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main section.live-learning .live-learning-cta {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

main section.cta-section {
  background: #fafafa;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main section.cta-section .cta-text {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

main section.cta-section .cta-text h3 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

main section.cta-section .cta-text p.cta-par {
  background: none;
}

main section.cta-section .cta-link {
  margin: 20px 0;
}

main section.cta-section .cta-link a {
  display: block;
  padding: 15px 20px;
  text-transform: uppercase;
  color: #333;
  border: 1px solid #333;
  -webkit-transition: .3s;
  transition: .3s;
}

main section.cta-section .cta-link a:hover {
  background: #EE5757;
  color: #fff;
  border-color: #EE5757;
}

@media screen and (max-width: 480px) {
  main {
    margin: 50px auto;
    width: 85%;
  }
  main section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section div[class$="text"] {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    text-align: left;
    margin-bottom: 25px;
  }
  main section div[class$="text"] h2 {
    font-size: 36px;
    color: #EE5757;
    line-height: 1.5;
  }
  main section div[class$="text"] p {
    font-size: 16px;
    text-align: justify;
    padding-right: 0;
  }
  main section div[class$="cta"] {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  main section div[class$="cta"] a[class$="cta-link"] {
    font-size: 16px;
  }
  main section.custom-create .custom-create-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main section.custom-create .custom-create-text .custom-create-package li {
    font-size: 16px;
  }
  main section.custom-create .custom-create-cta-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main section.live-learning .live-learning-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main section.live-learning .live-learning-cta {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main section.cta-section {
    padding: 25px;
  }
  main section.cta-section .cta-text {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  main section.cta-section .cta-text h3 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
  }
  main section.cta-section .cta-text p.cta-par {
    background: none;
    font-size: 14px;
  }
  main section.cta-section .cta-link {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: 0px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main section.cta-section .cta-link a {
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #333;
    -webkit-transition: .3s;
    transition: .3s;
  }
  main section.cta-section .cta-link a:hover {
    background: #EE5757;
    color: #fff;
    border-color: #EE5757;
  }
}
/*# sourceMappingURL=services.css.map */