h3 {
    font-size: 36px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    line-height: 1.75;
    text-align: justify;
}

a.cta-get-in-touch {
    display: block;
    width: fit-content;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 1px solid #333;
    color: #333;
    transition: .6s;
}

a.cta-get-in-touch:hover {
    border-color: #EE5757;
    background: #EE5757;
    padding: 15px 30px;
    color: #fff;
}

section.intro {
    background: #202020;
    margin: 0 auto;
    position: relative;

    .section-container {
        margin: 0 auto;
        width: 85%;
        padding: 85px 0px;

        .intro-text {
    
            h2 {
                color: #fff;
                font-size: 36px;
                line-height: 1.5;
    
                span {
                    color: #EE5757;
                }

                br {
                    display: none;
                }
            }
        }
    }
}

main {
    position: relative;
    margin: 100px auto;
    width: 85%;

    section.me {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        .me-img {
            flex-basis: 50%;
            padding: 25px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    
        .me-text {
            flex-basis: 50%;
            padding: 25px;
        }
    }
    
    section.profession {
    
        .section-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .profession-img {
                flex-basis: 50%;
                padding: 25px;
                order: 2;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
    
            .profession-text {
                flex-basis: 50%;
                padding: 25px;
                order: 1;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    h3 {
        font-size: 30px;
    }
    
    p {
        font-size: 14px;
    }
    
    a.cta-get-in-touch {
        width: 100%;
        text-align: center;
    }

    section.intro {
    
        .section-container {
    
            .intro-text {
        
                h2 {

                    br {
                        display: block;
                    }
                }
            }
        }
    }
    
    main {
        margin: 50px auto;
    
        section.me {
            flex-direction: column;
    
            .me-img {
                flex-basis: auto;
                padding: 0;
                margin-bottom: 25px;
            }
        
            .me-text {
                flex-basis: auto;
                padding: 0;
            }
        }
        
        section.profession {
        
            .section-container {
                flex-direction: column;
    
                .profession-img {
                    flex-basis: auto;
                    padding: 0;
                    order: 1;
                    margin-bottom: 25px;
                }
        
                .profession-text {
                    flex-basis: auto;
                    padding: 0;
                    order: 2;
                }
            }
        }
    }
}