h3 {
  font-size: 36px;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  line-height: 1.75;
  text-align: justify;
}

a.cta-get-in-touch {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 1px solid #333;
  color: #333;
  -webkit-transition: .6s;
  transition: .6s;
}

a.cta-get-in-touch:hover {
  border-color: #EE5757;
  background: #EE5757;
  padding: 15px 30px;
  color: #fff;
}

section.intro {
  background: #202020;
  margin: 0 auto;
  position: relative;
}

section.intro .section-container {
  margin: 0 auto;
  width: 85%;
  padding: 85px 0px;
}

section.intro .section-container .intro-text h2 {
  color: #fff;
  font-size: 36px;
  line-height: 1.5;
}

section.intro .section-container .intro-text h2 span {
  color: #EE5757;
}

section.intro .section-container .intro-text h2 br {
  display: none;
}

main {
  position: relative;
  margin: 100px auto;
  width: 85%;
}

main section.me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

main section.me .me-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 25px;
}

main section.me .me-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section.me .me-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 25px;
}

main section.profession .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.profession .section-container .profession-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 25px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main section.profession .section-container .profession-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section.profession .section-container .profession-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 25px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 480px) {
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 14px;
  }
  a.cta-get-in-touch {
    width: 100%;
    text-align: center;
  }
  section.intro .section-container .intro-text h2 br {
    display: block;
  }
  main {
    margin: 50px auto;
  }
  main section.me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.me .me-img {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 0;
    margin-bottom: 25px;
  }
  main section.me .me-text {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 0;
  }
  main section.profession .section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.profession .section-container .profession-img {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 25px;
  }
  main section.profession .section-container .profession-text {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*# sourceMappingURL=about.css.map */