section.intro {
    background: #202020;

    .section-container {
        margin: 0 auto;
        width: 85%;
        padding: 85px 0px;

        .intro-text {

            h2 {
                font-size: 34px;
                color: #fff;

                a {
                    color: #EE5757;

                    br {
                        display: none;
                    }
                }
            }

            p {
                margin-top: 15px;
                color: #fafafa;
                line-height: 1.75;
                font-size: 18px;

                span {
                    color: #EE5757;
                }
            }
        }
    }
}

section.contact {
    margin: 100px auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    form {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        margin-left: 25px;

        .form-elem {
            display: flex;
            flex-direction: column;
            position: relative;

            label {
                margin-bottom: 5px;
            }

            input, textarea {
                padding: 15px;
                font-size: 18px;
                margin-bottom: 15px;
                border: 1px solid #dcdcdc;
                outline: 0;
            }
    
            textarea {
                resize: none;
                height: 200px;
            }

            small {
                position: absolute;
                top: 5px;
                right: 0;
                color: red;
                display: none;
            }
    
            input[type="submit"] {
                border: none;
                background: #333;
                color: #fff;
                transition: .4s;
                cursor: pointer;
                margin-bottom: 0;
            }
    
            input[type="submit"]:hover {
                background: #EE5757;
            }
        }

    }

    .contact-img {
        flex-basis: 50%;
        transform: rotate(-180deg);

        img {
            width: 100%;
            object-fit: cover;
            object-position: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    section.intro {
    
        .section-container {
    
            .intro-text {

                h2 {
                    font-size: 36px;
                    color: #fff;
                    line-height: 1.5;
    
                    a {
                        color: #EE5757;

                        br {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    
    section.contact {
        margin: 50px auto;
        justify-content: space-between;
        flex-direction: column;
    
        form {
            flex-basis: auto;
            width: 100%;
            margin-left: 0;

            .form-text {
    
                p {
                    font-size: 14px;
                }
            }
    
            .form-elem {
    
                label {
                    font-size: 14px;
                }
    
                input, textarea {
                    font-size: 14px;
                }
        
                input[type="submit"] {
                    margin-bottom: 15px;
                }
            }
    
        }
    
        .contact-img {
            flex-basis: auto;
        }
    }
}