section.intro {
  background: #202020;
}

section.intro .section-container {
  margin: 0 auto;
  width: 85%;
  padding: 85px 0px;
}

section.intro .section-container .intro-text h2 {
  font-size: 34px;
  color: #fff;
}

section.intro .section-container .intro-text h2 a {
  color: #EE5757;
}

section.intro .section-container .intro-text h2 a br {
  display: none;
}

section.contact {
  margin: 100px auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

section.contact form {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  margin-left: 25px;
}

section.contact form .form-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section.contact form .form-elem label {
  margin-bottom: 5px;
}

section.contact form .form-elem input, section.contact form .form-elem textarea {
  padding: 15px;
  font-size: 18px;
  margin-bottom: 15px;
  border: 1px solid #dcdcdc;
  outline: 0;
}

section.contact form .form-elem textarea {
  resize: none;
  height: 200px;
}

section.contact form .form-elem small {
  position: absolute;
  top: 5px;
  right: 0;
  color: red;
  display: none;
}

section.contact form .form-elem input[type="submit"] {
  border: none;
  background: #333;
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
  margin-bottom: 0;
}

section.contact form .form-elem input[type="submit"]:hover {
  background: #EE5757;
}

section.contact .contact-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

section.contact .contact-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0;
     object-position: 0;
}

@media screen and (max-width: 480px) {
  section.intro .section-container .intro-text h2 {
    font-size: 36px;
    color: #fff;
    line-height: 1.5;
  }
  section.intro .section-container .intro-text h2 a {
    color: #EE5757;
  }
  section.intro .section-container .intro-text h2 a br {
    display: block;
  }
  section.contact {
    margin: 50px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.contact form {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 100%;
    margin-left: 0;
  }
  section.contact form .form-elem label {
    font-size: 14px;
  }
  section.contact form .form-elem input, section.contact form .form-elem textarea {
    font-size: 14px;
  }
  section.contact form .form-elem input[type="submit"] {
    margin-bottom: 15px;
  }
  section.contact .contact-img {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
/*# sourceMappingURL=contact.css.map */