html {
  scroll-behavior: smooth;
}

section.intro-text {
  background: #202020;
}

section.intro-text h2 {
  margin: 0 auto;
  width: 85%;
  padding: 85px 0;
  font-size: 36px;
  color: #fff;
  line-height: 1.5;
}

section.intro-text h2 span {
  color: #EE5757;
}

section.portfolio-gallery .gallery-container {
  margin: 0 auto;
  width: 85%;
  min-height: 600px;
}

section.portfolio-gallery .gallery-container .gallery-selection {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.portfolio-gallery .gallery-container .gallery-selection select {
  padding: 15px 45px 15px 20px;
  text-transform: uppercase;
  color: #333;
  background: transparent;
  outline: 0;
  border: 2px solid #333;
  font-size: 16px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  letter-spacing: 1px;
}

section.portfolio-gallery .gallery-container .gallery-selection select > * {
  color: #000;
  border: none;
}

section.portfolio-gallery .gallery-container .gallery-selection .arrow-down {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .4s;
  transition: .4s;
  pointer-events: none;
}

section.portfolio-gallery .gallery-container .gallery-selection .arrow-down ion-icon {
  font-size: 24px;
  color: #333;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-heading {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
  height: 350px;
  padding-right: 30px;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-heading h3 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #333;
  -webkit-transition: .25s;
  transition: .25s;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-heading h3::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 0%;
  background: #333;
  -webkit-transition: .5s;
  transition: .5s;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 25px;
  grid-row-gap: 50px;
  margin-bottom: 50px;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links li {
  width: 100%;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links li .tnail-img {
  width: 100%;
  height: 250px;
  position: relative;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links li .tnail-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links li .tnail-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cccccc;
  opacity: 0.15;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links li .tnail-img:hover {
  opacity: 0.75;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links li .tnail-text {
  color: #333;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links li .tnail-text h3 {
  margin: 20px 0px 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links li .tnail-text p {
  color: #333;
  font-size: 16px;
  line-height: 1.75;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links li:hover .tnail-text h3 {
  color: #EE5757;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links .alt-disp {
  color: #333;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row .gallery-links:last-child {
  margin-bottom: 0;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row:hover .gallery-heading h3 {
  color: #EE5757;
  font-size: 60px;
}

section.portfolio-gallery .gallery-container .gallery-work .gallery-row:hover .gallery-heading h3::after {
  height: 100%;
  background: #EE5757;
}
/*# sourceMappingURL=portfolio.css.map */