section.blog {
    
    .blog-container {
        margin: 75px auto;
        padding: 75px;
        width: 70%;
        background: #fff;
        border: 1px solid #202020;

        .blog-title {

            h2 {
                color: #EE5757;
                font-size: 36px;
                margin-bottom: 5px;
            }

            small {
                color: #333;
                font-size: 16px;
            }
        }

        .blog-img {
            margin: 25px 0px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .main-blog {
            margin-bottom: 50px;

            p {
                line-height: 1.75;
                color: #333;
                text-align: justify;
            }
        }

        .blog-socials {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            a {
                display: block;
                margin-right: 25px;
                color: #333;
                transition: .4s;

                ion-icon {
                    font-size: 26px;
                }
            }

            a:hover {
                color: #EE5757;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    section.blog {
    
        .blog-container {
            padding: 25px;
            width: 85%;
    
            .blog-title {
    
                h2 {
                    font-size: 26px;
                }
    
                small {
                    font-size: 14px;
                }
            }
    
            .blog-img {
                margin: 25px 0px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            .main-blog {
                margin-bottom: 40px;
            }
    
            .blog-socials {
    
                a {
                    margin-right: 20px;
    
                    ion-icon {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}